{% liquid 
  case section.settings.width
    when 'full'
      assign width = 'SectionGrid-Full'
    when 'wide'
      assign width = 'SectionGrid-Wide'
    when 'narrow'
      assign width = 'SectionGrid-Narrow'
    else
      assign width = 'SectionGrid-Wide'
    endcase
%}

<div class="SectionGrid color-{{ section.settings.color_scheme }}">
  <div class="{{ width }}">
    <address class='my-4 mx-5 mx-lg-8 lh-130'>{{ section.settings.text }}</address>
  </div>
</div>

{% schema %}
{
  "name": "Adresse",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.rich-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Breite des Elements",
      "options": [
        {
          "value": "full",
          "label": "volle Seitenbreite"
        },
        {
          "value": "wide",
          "label": "breites Layout (max. 1300px)"
        },
        {
          "value": "narrow",
          "label": "schmales Layout (max. 900px)"
        }
      ],
      "default": "wide"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Adresstext"
    }
  ],
  "presets": [
    {
      "name": "Adresse",
      "settings": {
        "color_scheme": "background-1",
        "width": "wide"
      }
    }
  ]
}
{% endschema %}